<!DOCTYPE html>
<html>
<head>
	<title>Walrus Form</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>
<body>
	<div style="text-align:center">
	 	<img src="/assets/images/logo.png" alt="COUCOU">
		<br>
		<nav>
	    	<a href="/Walrus/">Home</a>
	    	<a href="/Walrus/post/create">Cr&eacute;er un post</a>
	    	<a href="/Walrus/signin">Se connecter</a>
	    	<a href="/Walrus/signup">S'inscrire</a>
		</nav>
	</div>
	<div class="list-post-home">
		Listes des posts :
		<br>
		{% if posts is defined  %}
		    {% for post in posts %}
		        <a href="/Walrus/post/{{ post.properties.id }}">{{ post.properties.title }}</a>
		        <br>
		    {% endfor %}
		{% else %}
		    No Posts
		{% endif %}
	</div>
</body>
</html>

