{% extends "layouts/layout.html.twig" %}

{% block title %}Projects{% endblock %}

{% block body %}
    <h1>Here are your projects</h1>
    <a href="/DoctorTask/project/create">Create a new project</a>
{% endblock %}