{% extends "layouts/layout.html.twig" %}

{% block title %}Projects{% endblock %}

{% block body %}
    <h1>Projects</h1>
    <h2>These are your projects</h2>
    <a href="/DoctorTask/project/create">Create a new project</a>

    <h2>Your are a contributor on these projects</h2>

{% endblock %}