{% extends "layouts/layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Showing project {{ title }}</h1>
    <a href="/DoctorTask/project/delete/{{ id }}">Delete this project</a>
{% endblock %}