!!! XML
%html{:lang => 'en'}
  %head
    %meta{:charset => 'UTF-8'}
    %title Walrus welcome page
  %body
    %h1 Hello World
    %p Welcome on Walrus Framework
    %p=$_ENV['W']['VERSION']
