<!DOCTYPE html>
<html>
<head>
	<title>Walrus Form</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>
<body>
	<div style="text-align:center">
		<img src="/assets/images/logo.png">
		<br>
		<nav>
	    	<a href="/Walrus/">Home</a>
	    	<a href="/Walrus/post/create">Cr&eacute;er un post</a>
	    	<a href="/Walrus/signin">Se connecter</a>
	    	<a href="/Walrus/signup">S'inscrire</a>
	  	</nav>
	</div>
	<h3>Edit Post</h3>

	<form action="/Walrus/post/{{ post.id }}/edit" method="POST">
	    <input type="text" name="title" placeholder="title" value="{{ post.title }}"/>
	    <br>
	    {% if errors['title.empty'] is defined %}
	        <span style="color:#ff0000;">{{ errors['title.empty'] }}</span>
	    {% endif %}
	    <br>
	    <textarea name="content">{{ post.content }}</textarea>
	    <input type="submit" value="submit"/>
	</form>
</body>
</html>